{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
<h1 class="display-4">Get recommendations now</h1>

<!-- Form for searching a song -->
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <form action="{{ url_for('get_rec') }}" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for a song..." aria-label="Search for a song..." aria-describedby="basic-addon2" name="song_title" value="{{ request.form.song_title if request.method == 'POST' else '' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if results %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h2>Search Results</h2>
            <ul class="list-group">
                {% for artist_name, details in results.items() %}
                    <li class="list-group-item">
                        <a href="{{ details.url }}" target="_blank"> {{ artist_name }} - {{ details.track }}</a> 
                        {% if details.preview is not none %}
                            <img class="play-icon" src="{{ url_for('static', filename='play.png') }}" alt="Play">
                            <audio class="audioPlayer" src="{{ details.preview }}"></audio>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        class Audio{
            constructor(index, audioPlayer, playIcon){
                this.index = index;
                this.isPlaying = false;
                this.audioPlayer = audioPlayer;
                this.playIcon = playIcon;
            }

            play(){
                this.audioPlayer.play();
                this.playIcon.src = "{{ url_for('static', filename='pause.png') }}"; // Change to pause icon
                this.isPlaying = true;
            }

            pause(){
                this.audioPlayer.pause();
                this.playIcon.src = "{{ url_for('static', filename='play.png') }}"; // Change to play icon
                this.isPlaying = false;
            }

            to_string(){
                console.log("Index:", this.index, "isPlaying?:", this.isPlaying);
            }
        }
        // Get all play icons and audio elements
        const playIcons = document.querySelectorAll('.play-icon');
        const audioPlayers = document.querySelectorAll('.audioPlayer');
        const audios = [];

        let currentlyPlayingIndex = null; // Track the currently playing audio

        playIcons.forEach((playIcon, index) => {
            const audio = new Audio(index, audioPlayers[index], playIcon);
            audios.push(audio);

            playIcon.addEventListener('click', function() {
                console.log("Premuto tasto numero:", index);
                console.log("Al momento sta suonando:", currentlyPlayingIndex);

                // If there's a currently playing track that isn't the one clicked
                if (currentlyPlayingIndex !== null && currentlyPlayingIndex !== index) {
                    audio.to_string();
                    console.log("CHI STA SUONANDO?");
                    audios[currentlyPlayingIndex].to_string();
                    audios[currentlyPlayingIndex].pause(); // Pause the currently playing audio
                }

                if (audio.isPlaying==false) {
                    audio.play();
                    currentlyPlayingIndex = index; // Update the currently playing index
                } else {
                    audio.pause();
                }
            });

            // When the audio ends, reset the icon to play
            audio.audioPlayer.addEventListener('ended', function() {
                audio.pause()
                currentlyPlayingIndex = null; // Reset the currently playing index
            });
        });
    </script>
{% endif %}
{% endblock %}