{% extends "base.html" %}

{% block title %}Search Results{% endblock %}

{% block content %}
<h1 class="display-4">Get recommendations now</h1>

<!-- Form for searching a song -->
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <form action="{{ url_for('get_rec') }}" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for a song..." aria-label="Search for a song..." aria-describedby="basic-addon2" name="song_title" value="{{ request.form.song_title if request.method == 'POST' else '' }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% if results %}
    <div class="row justify-content-md-center">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5>{% if not found %}Search{% endif %} Results</h5>
                    <a href="#!" id="toggleLink" class="btn btn-light btn-sm" onclick="showAll(); return false;">View All</a>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>Artist</th>
                                <th>Song</th>
                                <th>Spotify link</th>
                                <th>Preview</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set counter = [1] %}
                            {% for artist_name, details in results.items() %}
                            <tr class="align-middle" id="item-{{ counter[0] }}" {% if counter[0] > 3 %}style="display: none;"{% endif %}>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="{{ details.img }}" class="avatar sm rounded-pill me-3 flex-shrink-0" id="spot" alt="Artist">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{ artist_name }}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ details.track }}</td>
                                <td> <span class="d-inline-block align-middle"><a href="{{ details.url }}" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/8/84/Spotify_icon.svg" class="avatar sm rounded-pill me-3 flex-shrink-0"></a></span></td>
                                <td><span>
                                    {% if details.preview is not none %} 
                                        <img class="play-icon" src="{{ url_for('static', filename='play.png') }}" alt="Play">
                                        <audio class="audioPlayer" src="{{ details.preview }}"></audio> 
                                    {% endif %}
                                </span></td>
                                <td class="text-end">
                                    {% if not found %}
                                        <form action="/recommendations" method="POST" class="d-inline-block">
                                            <input type="hidden" name="artist_name" value="{{ artist_name }}">
                                            <input type="hidden" name="track_title" value="{{ details.track }}">
                                            <button type="submit" class="btn btn-success align-middle">Get Recommendations</button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% if counter.append(counter.pop() + 1) %}{% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <script>
        class Audio{
            constructor(index, audioPlayer, playIcon){
                this.index = index;
                this.isPlaying = false;
                this.audioPlayer = audioPlayer;
                this.playIcon = playIcon;
            }

            play(){
                this.audioPlayer.play();
                this.playIcon.src = "{{ url_for('static', filename='pause.png') }}"; // Change to pause icon
                this.isPlaying = true;
            }

            pause(){
                this.audioPlayer.pause();
                this.playIcon.src = "{{ url_for('static', filename='play.png') }}"; // Change to play icon
                this.isPlaying = false;
            }

            to_string(){
                console.log("Index:", this.index, "isPlaying?:", this.isPlaying);
            }
        }
        // Get all play icons and audio elements
        const playIcons = document.querySelectorAll('.play-icon');
        const audioPlayers = document.querySelectorAll('.audioPlayer');
        const audios = [];

        let currentlyPlayingIndex = null; // Track the currently playing audio

        playIcons.forEach((playIcon, index) => {
            const audio = new Audio(index, audioPlayers[index], playIcon);
            audios.push(audio);

            playIcon.addEventListener('click', function() {

                // If there's a currently playing track that isn't the one clicked
                if (currentlyPlayingIndex !== null && currentlyPlayingIndex !== index) {
                    audio.to_string();
                    audios[currentlyPlayingIndex].to_string();
                    audios[currentlyPlayingIndex].pause(); // Pause the currently playing audio
                }

                if (audio.isPlaying==false) {
                    audio.play();
                    currentlyPlayingIndex = index; // Update the currently playing index
                } else {
                    audio.pause();
                }
            });

            // When the audio ends, reset the icon to play
            audio.audioPlayer.addEventListener('ended', function() {
                audio.pause()
                currentlyPlayingIndex = null; // Reset the currently playing index
            });
        });
    


        function showAll() {
            // Get all dictionary keys to know the number of items
            var keys = Object.keys({{ results|tojson }});  // Convert dict to JSON object in JS
            
            // Loop through keys starting from 3
            for (let i = 3; i < keys.length+1; i++) {
                console.log(i);
                var item = document.getElementById(`item-${i}`);
                if (item) {
                    item.style.display = "";
                }
            }

            // Disable the button after showing all items
            var link = document.getElementById('toggleLink');
            link.innerText = 'Showing All'; // Change text
            link.style.pointerEvents = 'none'; // Disable clicks
            link.style.color = 'gray';
        }
    
    </script>
{% endif %}
{% endblock %}