{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if session.username %}
    <h1 class="display-4">Welcome back, {{ session.username }}</h1>
    <!-- Form for searching a song -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form action="{{ url_for('get_rec') }}" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search for a song..." aria-label="Search for a song..." aria-describedby="basic-addon2" name="song_title">
                    <input type="text" class="form-control" placeholder="By artist..." aria-label="By artist..." aria-describedby="basic-addon2" name="artist">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% else %}
    <h1 class="display-5 fw-bold">Discover Your Next Favorite Song</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Get personalized music recommendations tailored just for you.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for('signup') }}" class="btn btn-primary btn-lg px-4 gap-3 me-4">Sign Up</a>
            <a href="{{ url_for('login') }}" class="btn btn-outline-secondary btn-lg px-4">Login</a>
        </div>
    </div>
{% endif %}
{% endblock %}

