{% set username = user.username %}

{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<h1 class="display-4">Welcome, {{ user.username }}</h1>

<div class="container mt-5">
    <h1>Available tokens</h1>
    <!-- Button to load user's tokens -->
    <button type="button" class="btn btn-primary btn-sm" id="tokensButton" onclick="toggleTokens()">Load available tokens</button>
    <div id="tokens" style="display: none;">{{user.tokens}}</div>
</div>

<div class="container mt-2">
    <a href="{{ url_for('delete') }}" class="btn btn-danger btn-lg btn-block">Delete account</a>
</div>



<script>
    function toggleTokens() {
        var tokensDiv = document.getElementById("tokens");
        var toggleButton = document.getElementById("tokensButton");

        if (tokensDiv.style.display === "none") {
            tokensDiv.style.display = "block";
        }
    }
</script>

{% endblock %}