{% set username = user.username %}

{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<h1 class="display-4">Welcome, {{ user.username }}</h1>

<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="row">
                <!-- User Profile Picture -->
                <div class="card">
                    <div class="card-body justify-content-center align-items-center">
                        <img src="{{ pic }}" class="card-img-top img-fluid profile-picture" alt="User Profile Picture">
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- User Information -->
                <div class="card">
                    <div class="card-body text-left">
                        <p class="card-text mb-0"><strong>Username:</strong> {{ user.username }}</p>
                        <p class="card-text mb-0"><strong>Email:</strong> {{ user.email }}</p>
                        <p class="card-text mb-0"><strong>Tokens:</strong> {{ user.tokens }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <h5>Stuff about music recommendations</h5>
        </div>
    </div>
</div>
{% endblock %}