/* style.css */

/* Custom styles for the hero section */
.hero {
    padding: 20px 0;
    background-color: #f8f9fa; /* Light grey */
}

.hero h1 {
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 40px;
}

/* Center the hero content */
.hero .container {
    text-align: center;
}

/* Additional custom styles */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    font-size: 18px;
}

.active-text {
    font-weight: bold;
    color: rgb(255, 252, 255, 0.75) 
}

/* Override Bootstrap's default button styles */
.btn-success {
    background-color: #28a745; /* Green */
    border-color: #28a745;
}

.btn-primary {
    background-color: #007bff; /* Blue */
    border-color: #007bff;
}

.footer {
    padding: 2px;
    width: 100%;
    position: fixed;
    margin-top: auto;
    bottom: 0;
}


/* Adjust button size for larger screens */
@media (min-width: 992px) {
    .btn-lg {
        padding: 1rem 3rem;
        font-size: 20px;
    }
}


.profile-picture {
    max-width: 150px; /* Set the maximum width of the profile picture */
    height: auto; /* Maintain aspect ratio */
}


/* play button for spotify previews */
.play-icon, .pause-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

.play-icon:hover, .pause-icon:hover {
    transform: scale(1.1);
}


#spot {
    transition: transform 0.2s;
    width: 30px;
    height: 30px;
}

#spot:hover {
    transition: transform 0.2s;
}


.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}
.table-nowrap .table td, .table-nowrap .table th {
    white-space: nowrap;
}
.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}
table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}


/* FORM */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}
  
.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.form-area{
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.row.single-form{
    box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
    background: #f8f9fa;
}

.left {
    background: green;
    padding: 190px 93px;
}

.left h2{
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}

.left h2 span{
    font-weight: 100;
}

.right{
    padding: 20px 70px;
    position: relative;
}

.right i{
    position: absolute;
    font-size: 80px;
    left: -27px;
    top: 40%;
    color: #fff;
}

.form-control{
    border: 2px solid #000;
}

.right button{
    border: none;
    border-radius: 0;
    background: #252525;
    width: 180px;
    color: #fff;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.right button:hover{
    background: #252525;
}

