/* style.css */

/* Custom styles for the hero section */
.hero {
    padding: 20px 0;
    background-color: #f8f9fa; /* Light grey */
}

.hero h1 {
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 40px;
}

/* Center the hero content */
.hero .container {
    text-align: center;
}

/* Custom styles for the footer */
.footer {
    padding: 20px 0;
    color: white;
}

/* Additional custom styles */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    font-size: 18px;
}

.active-text {
    font-weight: bold;
    color: #ffc107; 
}

/* Override Bootstrap's default button styles */
.btn-success {
    background-color: #28a745; /* Green */
    border-color: #28a745;
}

.btn-primary {
    background-color: #007bff; /* Blue */
    border-color: #007bff;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* Adjust button size for larger screens */
@media (min-width: 992px) {
    .btn-lg {
        padding: 1rem 3rem;
        font-size: 20px;
    }
}


